* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }
  
  .box {
  padding: 20px 20px;
  margin: 5px;
  border: 10px #000000;
}


.heading {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px 10px 0 10px;
  border-bottom: 2px #000000;
}

.footer {
  border-top: 2px #000000;
  padding: 10px 10px 0 10px;
}
